@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-sizer,
.project-card {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .grid-sizer,
  .project-card {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .grid-sizer,
  .project-card {
    width: calc(33.33% - 16px);
  }
}
